node_modules/
.DS_Store
.env
dist/
build/
coverage/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.idea/
.vscode/
*.log
backend-vinjobs/node_modules/
frontend-vinjobs/node_modules/
backend-vinjobs/.env
frontend-vinjobs/.env
frontend-vinjobs/dist/
